.theSelect{

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	height: 30px;
	width: 100%;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

}

.selectWrap{

	border-radius: 5px;
	overflow: hidden;
	box-shadow: inset 0px 0px 4px #3f3f3f;
	width: 500px;

	//width: 100%;

	position: relative;
	z-index: 1;

	&:before{

		content: attr(data-content);
		position: absolute;
		top:5px;
		left:5px;

	}

	&:after{

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		border-radius: 0 5px 5px 0;

		background: #27ae60;
		content: "\25BC";

		padding: 6px 6px;

		height: 100%;
		width: 30px;

		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

	}

}

